body {
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  background: white;
}

.container {
  background: white;
  /* min-height: 100vh; */
  overflow: hidden;
  padding: 0 2em 2em 2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border-radius: 5px;
}

button:focus {
  outline: none;
}

#title {
  text-align: center;
  position: relative;
  display: inline-block;
}

#title::before,
#title::after {
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}

#title::before {
  background: red;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
#title::after {
  height: 101%;
  background: white;
  left: -0.1em;
  right: -0.1em;
  z-index: -1;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-gap: 1em;
}

#buttons > .search-button {
  padding: 1em;
}

.iconDownload {
  position: absolute;
  top: 0px;
  left: -18%;
}
.iconSave {
  position: absolute;
  top: 0px;
  right: -18%;
}

#viewSaves {
  background-color: blue;
  color: white;
}

#clearSaves {
  background-color: red;
  color: white;
}

form#addSport {
  padding: 1em 0;
  display: flex;
  justify-content: flex-start;
}

#saveDiv {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

.save-btn {
  padding: 0.75em;
  width: 40%;
}

form#addSport input {
  padding: 1em;
}

form#addSport button[type="submit"] {
  padding: 1em;
  margin-left: 1em;
}

#targetDiv {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  justify-content: center;
}
#targetDiv > div {
  display: grid;
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

.imgContainer p {
  position: relative;
  font-size: 12px;
  width: 70%;
  text-align: center;
  margin: 1em auto;
}

.fas,
.far {
  font-size: initial;
}
