button:focus {
  outline: none;
}

#title {
  text-align: center;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-gap: 1em;
  justify-content: space-evenly;
}

#buttons > .search-button {
  padding: 1em;
}

.imgContainer {
  position: relative;
}

.iconDownload {
  position: absolute;
  bottom: 21px;
  left: 30px;
}
.iconSave {
  position: absolute;
  bottom: 21px;
  right: 30px;
}

#viewSaves {
  background-color: blue;
  color: white;
}

#clearSaves {
  background-color: red;
  color: white;
}

form#addSport {
  padding: 1em 0;
}

#saveDiv {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

.save-btn {
  padding: 0.75em;
  width: 40%;
}

form#addSport input {
  padding: 1em;
}

form#addSport button[type="submit"] {
  padding: 1em;
  margin-left: 1em;
}

#targetDiv {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  justify-content: center;
}
#targetDiv > div {
  display: grid;
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
